// Couleurs
$primary-color: #98030a;
$gray-light: #bdc3c7;
$gray-dark: #2c3e50;
$white: #ffffff;
$black: #1a1a1a;
$valid: #2ecc71;
$invalid: #e74c3c;
// Typographie
$font-family-primary: "Roboto", sans-serif;
$font-family-secondary: "sheepman", sans-serif;
$font-timer: "Watch MN", sans-serif;
$font-size-base: 16px;
$font-weight-regular: 400;
